
.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.leftSide p{
    color: gray;
    font-weight: 500;
    line-height: 1.5;
}
.arrow{
    font-size: 30px;
    font-weight: bold;
}